/*官网抽奖活动*/
/*body,h1,h2,h3,h4,h5,h6,p,ul,ol,li,form,img,dl,dt,dd,table,th,td,blockquote,fieldset,div,strong,label,em{margin:0;padding:0;border:0;}
input,button{margin:0;font-size:12px;vertical-align:middle;}*/
ul,li{list-style:none;}
.box{ padding: 15px; width:695px; height:415px; background:#fd6363; margin: 0px auto;position: relative;top: -110px; }
.inbox{ width:695px; position:relative;}
#random_box li{ position:absolute; width:135px; overflow:hidden; height:135px; background: url("../images/lottery.png") no-repeat;}
#random_box li img{ width:144px; display:block; height:144px;}
#start_con{ width: 415px;height: 135px; position:absolute; top:140px; left:140px; cursor:pointer; text-align:center;}
#start{width:210px;height:60px;background: url("../images/lottery.png") no-repeat 0 -230px;margin: 38px auto;}
#random_box{margin:0;}
.inbox #random_1{ left:0; top:0;background-position: -236px 0px;}
.inbox #random_2{ left:140px;top:0;background-position: -380px 0px;}
.inbox #random_3{ left:280px;top:0;background-position: -524px 0px;}
.inbox #random_4{ left:420px;top:0;background-position: -236px -144px;}
.inbox #random_5{ left:560px;top:0;background-position: -380px -144px; }
.inbox #random_6{ left:560px;top:140px;background-position: -524px -144px;}
.inbox #random_7{ left:560px; top:280px;background-position: -236px -288px;}
.inbox #random_8{ left:420px; top:280px;background-position: -380px -288px;}
.inbox #random_9{ left:280px; top:280px;background-position: -524px -288px;}
.inbox #random_10{ left:140px; top:280px;background-position: -236px -432px;}
.inbox #random_11{ left:0; top:280px;background-position: -380px -432px;}
.inbox #random_12{ left:0; top:140px;background-position: -524px -432px;}
#random_box li.random_current{border:3px solid #2cb2da;}
/*#random_box li.random_current{border:3px solid white;}*/
.lucky{
	background:url("../images/flower.gif") no-repeat;height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

/*第一层弹窗*/
#lottery-panel{
	display: none;
	position: fixed;
	_position: absolute;
	/*position: relative;*/
	z-index: 200000;
	top: 10%;
	/*top: 0;*/
	left: 25%;
	width: 800px;
	height:80%;
	height:90%\9;
	background: #fff6d9;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
.lottery_tit{
	width: 800px;
	height: 85px;
	background:url("../images/lottery.png") no-repeat 0px -593px;
	background-color: #313131;
}
.lottery_close{
	-webkit-appearance: none;
	border: none;
	padding: 0;
	cursor: pointer;
	float: right;
	width: 70px;
	height:45px;
	position: absolute;
	left: 675px;
	top: 20px;
	background: url('../images/lottery.png') no-repeat  0px -153px;
	z-index: 999999;
}
.lottery_clo{
	height:145px;
	width:225px;
	margin-left: 50px;
	position: relative;
	left:0px;
	top:-70px;
	background: url('../images/lottery.png') no-repeat  0px 0px;
}
#lottery-panel span{
	color:#7a4840;
	width: 391px;
	display: block;
	position: relative;
	left: 300px;
	top: -130px;
	text-align: left;
}
#start_con span{margin: 90px 0 0 25px;}
#start_con span a{text-decoration: underline;color: #fff;}
#start_con .chanceNum{color: #7a4840;position: absolute;left: 145px;top: 105px;}

/*抽奖结果*/
#lottery_content{color: #484848;font-family: Microsoft YaHei;text-align: center;}
#lottery-result{display: none;
	position: fixed;
	_position: absolute;
	/*position: relative;*/
	z-index: 500000;
	top: 20%;
	left: 35%;
	width: 450px;
	height:295px;
	background: #fff6d9;
	border-radius: 6px;
	box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}
#lottery-result .lottery_tit{background-position:  0px -711px;width:450px;height:70px;}
#lottery-result .lottery_close{background-position:  0px -786px;width: 45px;height: 30px;position: absolute;left: 375px;}
#content_tit{display: block;
height: 60px;
text-align: center;
line-height: 60px;
font-size: 14px;
font-weight: bold;}
#content_text{width:100px;height:75px;margin:0 auto;}
.sorry{ background: url('../images/lottery.png') no-repeat -505px -745px;}
#lottery_content .hint{background:none;height:30px;width:450px;line-height: 30px;}
#content_end{display:block;height:60px;line-height: 60px; text-align: center;}
.hongMi_tit{color: #fb3e3e;}
.hongMi{background: url('../images/lottery.png') no-repeat -632px -745px;}
.fCode{background: url('../images/lottery.png') no-repeat -755px -745px;}
.hint_butt{height: 50px;
width: 180px;
margin: 30px auto;
border-radius: 6px;
background-color: #fb3e3e;
color:white;
font-size: 24px;
line-height: 50px;
cursor: pointer;}


/*首页抽奖轮播*/
.luckyDraw{color: #f13c6f;text-decoration: underline;position: absolute;top: 350px;left: 150px;*left:150px;}
.award{color: #f13c6f;text-decoration: underline;position: absolute;left: 230px;top: 350px;*left:230px;}
.lottery_bg{z-index: 3;}




