 
@charset "utf-8";
/* CSS Document */
input{
 line-height:20px;
}
.nav-index,.nav-notice,.nav-activity,.nav-info,.nav-forum,.nav-service,.thirdpart-top a,h2.screen_title,.sc-more,#slider-nav a,.sNext,.sPrev,.weibo-ico,.follow{
	background:url("http://dl.lepao.com/images/sprite_icon.png") no-repeat;
}
.block-content{
	position:relative;
	min-height:200px;
}

/*container*/

/*img-show*/
.img-show{
	margin: 0 auto;
}
.sub-img-show{
	width: 1060px;
	margin: 0px auto;

	padding: 30px 20px 0px 20px;
}
#kinMaxShow{
	width:100%; 
	height:730px;
	overflow:hidden;
}
/*magicfuninfo*/
.magicfun{
	width:970px;
	margin:0 auto;
	padding:50px 35px;
	overflow:hidden;
	background:url("http://dl.lepao.com/images/iphone_03.png") left center no-repeat;
}
.iphonefun{
	float:right;
}
.funtitle{
	text-align:right;
	color:#000;
}
.funtitle h3{
	font-size:38px;
}
.funtitle h2{
	font-size:50px;
}
.funtitle h2 em{
	font-size:67px;
	vertical-align:-7px;
}
.funtitle h4{
	font-size:22px;
}
.funcon{
	width:580px;
	margin-top:30px;
}
.funcon li{
	float:left;
	color:#000;
	margin:30px 0;
}
.pic,.info{
	float:left;
}
.info{
	width:195px;
	line-height:20px;
	margin-left:10px;
}
.magicloop,.appfun,.numblock{
	width:1423px;
	margin:0 auto;
}
.magic{
	background:#669725;
}

.magicinfo{
	width:950px;
	margin:0 auto;
}
.teachblock{
	background:url("http://dl.lepao.com/images/teach_19.jpg") center center no-repeat;
}
.teach,.run{
	width: 970px;
	margin: 0 auto;
	padding: 120px 35px;
	overflow: hidden;
	color:#000;
}
.fr{
	float:right;
}
.teach h2{
	font-size:43px;
	margin:50px 0;
}
.teach h4,.run h4{
	font-weight:bold;
}
.teach p,.run p{
	width:500px;
	line-height:30px;
}
.runblock{
	background:url("http://dl.lepao.com/images/teach_20.jpg") center center no-repeat;
	height:680px;
	width:1420px;
	margin: 0 auto;
}
.run{
	color:#fff;
	padding:300px 35px 60px;
}
.run h2{
	padding:20px 50px;
	font-size:43px;
	width:500px;
	height:110px;
	background:#4d8905;
}
.run p{
	margin-bottom:20px;
}
.runcon{
	padding:20px 50px 0;
	background:#6aa620;
	width:500px;
	overflow:hidden;
}
.weibo{
	background:url("http://dl.lepao.com/images/weibo_25.jpg") top center no-repeat;
	padding:300px 20px 50px;
	overflow:hidden;
}
.weibo_con{
	background:url("http://dl.lepao.com/images/weibo_border_29.jpg") no-repeat;
	width:343px;
	height:105px;
	position:absolute;
	left:45px;
	top:2px;
	z-index:5;
	padding:10px 0 0 80px;
}
.weiboinfo{
	position:relative;
	height:110px;
	overflow:hidden;
	width:500px;
	float:left;
	margin:20px 10px 0 150px;
}
.weibo_user{
	position:absolute;
	left:0
	top:0;
	z-index:10;
}
.weibo_name{
	text-align:center;
}
.weibo_con p{
	width:240px;
}

/*reserve预订*/
.reserve{
	width:780px;
	margin:40px auto;	
}

.reserve table tr td {
  height: 40px;
}

.reserve table tr td input {
  height: 30px;
  padding-left: 4px;
}

.reserve .change-captcha {
  color: #4576f3;
  margin-left: 5px;
}

.reserve_title{
	height:36px;
	background:url("http://dl.lepao.com/images/reserve_title_10.jpg") no-repeat;
	color:#fff;
	font-size:18px;
	line-height:36px;
	padding-left:30px;
}

.state{
	text-align:center;
	border-bottom:1px solid #ccc;
	padding:20px;
}
.countdown{
	font-size:24px;
}
.countdown em{
	font-weight: 600;
	font-size:32px;
	color:#fe8075;
}
.state p{
	font-size:15px;
}
.required{
	color:#ff2424;
}

.submit_code{
	display:block;
	height:27px;
	width:92px;
	line-height:25px;
	background:url("http://dl.lepao.com/images/sent.jpg") no-repeat;
}
.cdkey_text{
/* 	text-align:right; */
}
.p3{
	padding:0 3px;
	text-align:center;
}
.reserve_info .title{
	color:#000;
	text-align: right;
	padding-right: 4px;
}
.reserve_info tr{
	height:40px;
}
.reserve_info tr td{
	color:#bbb;
}

.reserve_select {
  margin: 5px 0;
}

.reserve_select h4 {
  float: left;
}

.reserve_select ul{
	margin-left:100px;
}
.reserve_select li{
	line-height:40px;
}
.reserve_select li img{
	vertical-align:-5px;
}
.submit_reserve.btn {
	padding: 0 30px;
	font-size: 18px;
	line-height: 34px;
	margin:30px 97px;
}

table td .street {
  width: 300px;
}

.home{
	background:url("http://dl.lepao.com/images/home_46.jpg") 50px 13px #98cf61 no-repeat;
}
.fun{
	background:url("http://dl.lepao.com/images/fun.jpg") 35px 13px #98cf61 no-repeat;
}
.app{
	background:url("http://dl.lepao.com/images/app.jpg") 35px 13px #659832 no-repeat;
}
.share{
	background:url("http://dl.lepao.com/images/share.jpg") 35px 13px #416d15 no-repeat;
}
.back{
	background:url("http://dl.lepao.com/images/back.jpg") 30px 13px #2b4e07 no-repeat;
}
/*<!--预购成功-->*/
.success{
	text-align:center;
	padding:20px;
}
.success_info{
	font-size:18px;
}
.success_info em{
	font-size:24px;
	color:#3e6f15;
}
.ad{
	margin:20px 0 10px;
}
.num{
	margin:20px 0;
}
.goods_color a{
	display:block;
	float:left;
	width:60px;
	text-align:center;
	color:#eee;
	border:2px solid #fff;
}
.goods_color a.selected{
	border:2px solid #f3ac14;
}
.black{
	background:#282d30;
}
.goods_color .white{
	background:#f6f7df;
	color:#000;
}
.goods_color .yellow{
	color: #333;
	background:#f5e972;
}
.goods_color .green{
	background:#94cb5a;

}
.red{
	background:#d7685e;
}
.purple{
	background:#ad8bbd;
}
.blue{
	background:#55b1e0;
}


/*分页*/
.pagination-outer{
	width:130px;
	padding:0 0 20px 0;
}
#pagination{
	width:660px;
	padding:30px 0 0 0;
	margin:0 auto 10px auto;
	text-align:center;
}
#pagination span a{
	height:22px;
	display:inline-block;
	padding:0 8px;
	line-height:22px;
	font-size:12px;
	color:#000 !important;
}
#pagination span a:hover{
	color:#ccc !important;
}
#pagination span a:active{
	color:#ccc !important;
}
#pagination span b{
	height:22px;
	display:inline-block;
	padding:0 8px;
	line-height:22px;
	font-size:12px;
	color:#009fe8 !important;
}
#pageShow{
	width:660px;
	text-align:center;
}
#pageShow p{
	color:#666;
}
#pageShow .current-page{
	color: #333;
	padding:0 2px;
}


/*Slide Start幻灯片位置开始*/
#Slidebox{width:100%; text-align:center; height:630px;  padding:0px;  margin:0 auto;  /*position:relative;*/ background:url("http://dl.lepao.com/images/bg_focus.jpg"); overflow:hidden;}
#flashBg {height: 630px;overflow: hidden;width:100%;clear: both;margin: 0;padding: 0;}
#flashLine {height: 630px;width: 100%;clear: both;}
#flash{height: 630px;overflow: hidden;margin: 0 auto;clear: both;position: relative;padding: 0px 0px;}
#flash a {height: px;display: none;}
#flash img {height: px;}
.flash_bar {width:555px;z-index:99999999999;height: 30px;overflow: hidden;position: absolute;padding-top: 13px!important;padding-top: 12px;
bottom:0px; left:50%;text-align: center;}
.flash_bar .dq {
display: block;float: left;width: 12px;height: 12px;margin:2px 4px;cursor: pointer;background: url("http://dl.lepao.com/images/pagination.png") no-repeat 0px -12px; overflow:hidden;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png" ,sizingMethod="crop");
}

.flash_bar .no {display: block;float: left;width: 12px;height: 12px;margin:2px 4px;cursor: pointer;
background:url("http://dl.lepao.com/images/pagination.png") no-repeat 0px 0px; overflow:hidden;
_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="http://vizo.retail20.cn/images/pagination.png" ,sizingMethod="crop");
}

/* slides */
#slides {
  position: relative;
  height: 600px;
  text-align: center;
  overflow: hidden;
}

.slidesjs-control,
.slidesjs-container { 
  height: 630px !important;
}

#slides .slidesjs-control {
  text-align: center;
}

#slides .slidesjs-control a {
  overflow: hidden;
}

#slides .slidesjs-control img {
  vertical-align: top;
}

.slidesjs-pagination {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 24px;
  z-index: 10;
}

.slidesjs-pagination li {
  display: inline-block;
  *display: inline;
  zoom: 1;
  margin: 0 4px;
}

.slidesjs-pagination li a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  width: 12px;
  height: 0;
  padding-top: 12px;
  overflow: hidden;
  background: url("http://dl.lepao.com/images/pagination.png") no-repeat;
  _background-image: url("http://dl.lepao.com/images/pagination_ie6.png");
}

.slidesjs-pagination li a:hover,
.slidesjs-pagination li a.active {
  background-position: 0 -12px;
  text-decoration: none;
}

.slidesjs-previous,
.slidesjs-next {
  position: relative;
}

.slidesjs-previous {
  float: left; background: url("http://dl.lepao.com/images/prev.png") no-repeat; 
}

.slidesjs-next  {
  float: right; background: url("http://dl.lepao.com/images/next.png") no-repeat;
}



































