<!--订单列表 -->
{{#each data}}
{{#if channelType}}
<tr class="tr_no tr_left">
	<td class="td_padd">下单时间：{{createTimeStr}}</td>
	
	{{#if expire}}
	<td colspan='2'>订单编号：{{orderNum}}</td>
	<td colspan='2' class="expire"><span>您已错过了申请售后时间(交易完成15天内)，</span><span>退换货请联系客服。</span></td>
	{{else}}
	<td colspan='4'>订单编号：{{orderNum}}</td>
	{{/if}}
</tr>
{{#products}}

<tr class="order_cont tr_no">
	
	<td class="text-left td_padd">
	  <img class="goods-img" src="{{image}}" width="50" height="50">
	  
	  <span class="goods-text">{{name}}</span>
	</td>
	<td>{{#if num}}×{{num}}{{else}}× 1{{/if}}</td>
	
	{{#if ../productReturnExchangeRight}}
	<td class="border_r">{{#if isReturn}}已申请{{servieType}}:{{verifyStatus}}<a href={{toStatusUrl}}>退换详情</a>{{else}}<a href={{toStatusUrl}}>{{servieType}}</a>{{/if}}</td>
	{{else}}
	<td class="border_r">
		退货/换货
	</td>
	{{/if}}
	
{{/products}}
	
	<td>
		<span>{{statusName}}</span>
		{{#if checkDetail}}
			<a href="{{checkUrl}}">{{checkDetail}}订单详情</a>
		{{/if}}
	</td>
	<td>
		<a href="{{statusActionUrl}}">{{statusAction}}</a>
	</td>
</tr>
{{/if}}
{{/each}}


<!-- {"status":1,"productIds":[1,2,6],"orderNum":"HL1311181224068","price":700