{% extends './layout.swig' %}

{% block styles %}
    {% parent %}

    <link rel="stylesheet" href="/style/home.css">
    <link rel="stylesheet" href="/style/ui2.css">
    <style type="text/css">
        .news {
            padding: 0;
        }
        .news li {
            height: 37px;
            border-bottom: 1px dashed #a3a3a3;
            line-height: 37px;
        }
        .news li a {
            width: 280px;
            height: 30px;
            overflow: hidden;
            background: url("images/small_icon/news_img.png") left -155px no-repeat;
            line-height: 37px;
            display: block;
            float: left;
            padding-left: 22px;
            cursor: pointer;
            color: #000;
            font-family: "宋体";
            font-size: 12px;
        }
        .news span {
            width: 150px;
            display: block;
            float: right;
            text-align: right;
            font-size: 12px;
            font-family: Arial, Helvetica, sans-serif;
        }
        .news_more {
            float: right;
        }
    </style>
{% endblock %}

{% block scripts %}
    {% parent %}
    <script src="/js/seajs/sea.js" data-config="config" data-main="page/home"></script>
    {# {% if error %}
        <script>
            
        </script>
    {% endif %} #}

    
{% endblock %}


{% block content %}
    <ol id="section-nav">
        <li>
            <span class="dot"></span>
        </li>
        <li>
            <span class="dot"></span>
        </li>
        <li>
            <span class="dot"></span>
        </li>
        <li>
            <span class="dot"></span>
        </li>

    </ol>

    <div id="main">


        <div class="fullscreen section1">
            <div id="slider" class="sl-slider-wrapper">
                <div class="sl-slider">

                    <div class="sl-slide bg-1" data-orientation="vertical" data-slice1-rotation="30" data-slice2-rotation="30" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="inner-container">
                                <img class="deco-img" src="/images/main_bigpic/big_pic1.jpg" width="635" height="475" alt="">

                                <div class="text-content">
                                    <h2><img src="/images/main_bigpic/big_pic1_word.png" width="289"
                                     height="47"></h2>

                                    <p class="intro">一个人的心动
                                        <br>两个人的相遇
                                        <br>缘在手上，爱在心中</p>

                                    <a class="buy-button" href="/download">APP下载</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="slide-band-1_5" class="sl-slide" data-orientation="vertical" data-slice1-rotation="30" data-slice2-rotation="30" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="inner-container">
                                <img class="deco-img" src="/images/main_bigpic/big_pic2.png" width="635" height="475" alt="" style="position: absolute;">

                                <div class="text-content" style="position: absolute;left: 30px">
                                    <h2><img src="/images/main_bigpic/big_pic2_word.png" width="289"
                                     height="47"></h2>

                                    <p class="intro">缘分荧荧之间
                                        <br>却与你相遇
                                        <br>私密达爱恋
                                        <br>一生不变</p>

                                    <a class="buy-button buy-button-pink" href="http://detail.tmall.com/item.htm?spm=a230r.1.14.1.CEYTkN&id=40807020072">合作店铺</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="sl-slide bg-2 bg-6" data-orientation="vertical" data-slice1-rotation="30" data-slice2-rotation="30" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="inner-container">
                                <img class="deco-img" src="/images/main_bigpic/big_pic3.png" width="678" height="389" alt="">

                                <div class="text-content">
                                    <h2><img src="/images/main_bigpic/big_pic3_word.png" width="289"
                                     height="47"></h2>

                                    <p class="intro">前世擦肩
                                        <br>今生相遇
                                        <br>一戒永恒，两厢情定</p>
                                    <a class="buy-button" data-id="3" href="http://hphzp.tmall.com/shop/view_shop.htm?spm=a230r.7195193.1997079397.1.cBj47h">合作店铺</a>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="sl-slide bg-3" data-orientation="vertical" data-slice1-rotation="30" data-slice2-rotation="30" data-slice1-scale="2" data-slice2-scale="2">
                        <div class="sl-slide-inner">
                            <div class="inner-container">
                                <img class="deco-img" src="/images/main_bigpic/big_pic4.png" width="600" height="600">

                                <div class="text-content">
                                    <h2><img src="/images/main_bigpic/big_pic4_word.png" width="289"
                                     height="47" alt="键康 美好"></h2>

                                    <p class="intro">即使茫茫人海
                                        <br>也注定要和你相遇
                                        <br>尽管人潮拥挤
                                        <br>我的眼中也只看得到你</p>
                                        
                                    <a class="buy-button" href="/">立即下载</a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /sl-slider -->

                <div id="nav-arrows" class="nav-arrows">
                    <span class="nav-arrow-prev">上一页</span>
                    <span class="nav-arrow-next">下一页</span>
                </div>

                <nav id="nav-dots" class="nav-dots">
                    <span class="nav-dot-current"></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </nav>

            </div>
        </div>

        <div class="fullscreen section3">
            <div class="inner">
                <img class="prod_img" src="/images/main_bigpic/second_big_pic.png" width="442" height="216" alt="">
                <ul class="unstyled">
                    <li class="sub1">
                        <h3 class="bottom_heading">情系私密达</h3>

                        <div>
                            <h3 class="top_heading">情系私密达</h3>

                            <p>缘分邂逅
                            <br>
                            就在咫尺</p>
                        </div>
                    </li>
                    <li class="sub2">
                        <h3 class="bottom_heading">私密达活动</h3>

                        <div>
                            <h3 class="top_heading">私密达活动</h3>

                            <p>情定一戒,缘起三生
                                <br>为会员提供缘活动
                                <br>增加彼此的亲密度</p>
                        </div>
                    </li>
                    <li class="sub3">
                        <h3 class="bottom_heading">会员认证</h3>

                        <div>
                            <h3 class="top_heading">会员认证</h3>

                            <p>注册信息<br>幸福开始</p>
                        </div>
                    </li>
                    <li class="sub4">
                        <h3 class="bottom_heading">兴趣圈子</h3>

                        <div>
                            <h3 class="top_heading">兴趣圈子</h3>

                            <p>你的<br>他的<br>你们的生活圈</p>
                        </div>
                    </li>
                    <li class="sub5">
                        <h3 class="bottom_heading">私密达服务</h3>

                        <div>
                            <h3 class="top_heading">私密达服务</h3>

                            <p>抽奖活动<br>增值服务</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="fullscreen section4">
            <div class="inner tab-container">
                <div class="clearfix inner-top">
                    <img class="deco-img" src="/images/main_bigpic/big_pic5.jpg" width="381" height="270" alt="">

                    <div class="tab-panel">
                        <h2>私密达活动资讯</h2>

                        <ul class="news">
                            
                            <li>
                                <a class="newTit" href="/news_1.html">你的私人社交软件—私密达即将上线。</a>
                                <span class="newDate">2014-09-19</span>
                            </li>

                            <li>
                                <a class="newTit" href="/news_2.html">快来赢取海南双飞游吧。</a>
                                <span class="newDate">2014-11-10</span>
                            </li>
                            <li>
                                <a class="newTit" href="/news_3.html">MY私密达将会和一大波淘宝时尚店铺合作</a>
                                <span class="newDate">2014-11-20</span>
                            </li>

                        </ul>
                        <p><a href="/news" class="news_more">查看更多></a>
                        </p>
                    </div>
                    <div class="tab-panel">
                        <h2>私密达幸福体验</h2>

                        <p>爱情是一种遇见，不能等待也没有准备。地球上有千千万万的人，你有没有想过究竟哪一个人会是你的他。我们每天都会和7000个人擦肩而过，而你有没有静下来看看谁会是以后陪你一起走的人。
就像X小姐碰巧买了一枚戒指，也就在一个阳光灿烂的午后，她遇见了笑容温暖的Y先生，碰巧他也带着一样的戒指，也许这就是缘分，冥冥之中让他们遇见。就像张爱玲说的，在时间的荒野里，没有早一步，也没有迟一步，遇上了也只能轻轻地说一句：“哦，你也在这里吗？”
                        </p>
                    </div>
                    <div class="tab-panel">
                        <h2>私密达会员动态</h2>
                        <p>
                            幸福就在咫尺，注册信息就可以邂逅你命中注定的他/她吧。通过私密达认识的朋友们，只要在微博上传配对成功信息并且@海平化妆品专营店，就可获得芦荟胶面膜一个，还可参与我们的抽奖活动。IPHONE6,I PAD，拍立得等好礼送不停。11月10号还有大型单身联谊party等着你哦，2014，我们不过光棍节。
                        </p>
                        </ul>
                        </p>
                    </div>
                    <div class="tab-panel">
                        <h2>私密达幸福指数</h2>

                        <p>当你实现一个愿望、达到一个目的、爱一个人、被人爱、一时的心情愉悦、快乐等等都属于幸福。幸福没有距离、没有标准，幸福是一种感觉。当你心满意足时，就是幸福。我们能做的不多，不过我们想用心来让你们在这里，遇见一个人，邂逅一段全新的美好。希望通过私密达，让你可以找到幸福。
                        </p>
                    </div>
                </div>
                <ol class="tab-nav unstyled inner-bottom">
                    <li class="sub1">
                        <a href="/index.html#">
                            <span>1</span>

                            <h3>私密达活动资讯</h3>
                        </a>
                    </li>
                    <li class="sub2">
                        <a href="/index.html#">
                            <span>2</span>

                            <h3>私密达幸福体验</h3>
                        </a>
                    </li>
                    <li class="sub3">
                        <a href="/index.html#">
                            <span>3</span>

                            <h3>私密达会员动态</h3>
                        </a>
                    </li>
                    <li class="sub4">
                        <a href="/index.html#">
                            <span>4</span>

                            <h3>私密达幸福指数</h3>
                        </a>
                    </li>
                </ol>
            </div>
        </div>

        <div class="fullscreen extended-section" style="background: #f8f8f8">
            <div class="extended-section-inner">

                <a id="back-to-top" href="/index.html#top">返回顶部</a>

                <div id="home-footer">
                    <div class="inner">
                        <ul class="unstyled clearfix">
                            <li class="sub1">在线客服：0816-7017382</li>
                            <li class="sub2">加入QQ群获取戒指密码</li>
                            <li class="sub3">
                            官方QQ群：372713466
                            
                            </li>
                        </ul>
                    </div>
                </div>

                <div id="global-footer-section">
                    <div id="global-footer" style="background: #f8f8f8">
                        <div class="inner">

                        </div>
                        <p class="company-info">
                            公司地址:四川省绵阳市海瑞尔集团金家林下街36号 邮编:621000
                            <br>Copyright 2014. All Rights Reserved 海瑞尔集团版权所有
                            <br>备案号:蜀ICP备14021725号
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}

